{% extends "base.html" %}
{% load static %}
{% block title %}{{ vacancy.title }}{% endblock %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="{% static 'detail_vacancy/css/detail_vacancy.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container py-4">
  <div class="row">

    <!-- Левая часть -->
    <div class="col-lg-8">

      <!-- Блок: Вакансия -->
      <div class="vacancy-card" id="vacancy-card-detail">
        <h3 class="fw-bold">{{ vacancy.title }}</h3>
        {% if vacancy.salary %}
            <p class="text-muted">{{ vacancy.salary }} ₽</p>
            {% elif vacancy.salary_from and not vacancy.salary_to %}
            <p class="text-muted">от {{ vacancy.salary_from }} ₽</p>
            {% elif vacancy.salary_from and vacancy.salary_to %}
            <p class="text-muted">от {{ vacancy.salary_from }} ₽ до {{ vacancy.salary_to }} ₽</p>
        {% else %}
            <p class="text-muted">Договорная</p>
        {% endif %}
        <ul class="list-unstyled mb-3">
          <li>Выплаты: {{ vacancy.get_salary_type_display }}</li>
          {% if experience_required == "without_experience" %}
            <li>Опыт работы: {{ vacancy.get_experience_required_display }}</li>
          {% else %}
            <li>Опыт работы: {{ experience_required }}</li>
          {% endif %}
          <li>Тип занятости: {{ vacancy.get_employment_type_display }}</li>
          <li>График: {{ vacancy.get_schedule_display }}</li>
          {% if vacancy.working_hours %}
          <li>Рабочие часы: {{ vacancy.working_hours }}</li>
          {% endif %}
        </ul>

        <div class="d-flex gap-3 mb-3">
          <button class="btn btn-primary btn-apply">Откликнуться</button>
          <button class="btn btn-outline-primary btn-apply">Связаться</button>
          <button class="btn btn-light"><i class="bi bi-heart"></i></button>
          <!-- Контейнер для кнопки три точки + меню -->
          <div class="position-relative">
            <button class="btn btn-light" id="more-options-btn">
              <i class="bi bi-three-dots"></i>
            </button>

            <!-- Меню действий -->
            <div id="more-options-menu" class="custom-dropdown d-none">
              <button class="dropdown-item" id="hide-this-vacancy">
                <i class="bi bi-eye-slash me-2"></i> Скрыть эту вакансию
              </button>
              <button class="dropdown-item" id="hide-company-vacancies-1">
                <i class="bi bi-building icon-strikethrough me-2"></i> Скрыть вакансии компании
              </button>
              <button class="dropdown-item" id="report-vacancy">
                <i class="bi bi-flag me-2"></i> Пожаловаться на вакансию
              </button>
            </div>
          </div>

        </div>
      </div>

      <!-- Блок: Обязанности -->
       {% if vacancy.responsibilities %}
      <div class="vacancy-card">
        <h5 class="fw-bold mb-3">Обязанности:</h5>
        <ul>
          {% for respons in responsibilities %}
          <li>{{ respons }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      

      {% if conditions %}
      <!-- Блок: Обязанности -->
      <div class="vacancy-card">
        <h5 class="fw-bold mb-3">Условия:</h5>
        <ul>
          {% for i in conditions %}
          <li>{{ i }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      
      {% if vacancy.description %}
      <!-- Блок: Обязанности -->
      <div class="vacancy-card">
        <h5 class="fw-bold mb-3">Описания:</h5>
        <p>
          {{ vacancy.description }}
        </p>
      </div>
      {% endif %}

      <div class="vacancy-card mt-3">
        <h5 class="fw-bold mb-3">Где предстоит работать</h5>
        <p class="mb-1">
          <i class="bi bi-geo-alt-fill text-danger me-2"></i>
          {{ vacancy.get_city_display }}, {{ vacancy.stre }}
        </p>
        <p class="text-muted mb-3">
          Вакансия опубликована {{ vacancy.created_at|date:"d F Y" }} в {{ vacancy.get_city_display }}
        </p>

        <div class="d-flex gap-2">
          <button class="btn btn-primary">
            <i class="bi bi-send"></i> Откликнуться
          </button>
          <button class="btn btn-outline-danger">
            <i class="bi bi-exclamation-triangle"></i> Пожаловаться на вакансию
          </button>
        </div>
      </div>

      <div class="vacancy-card mt-4">
        <h5 class="fw-bold mb-3">Отзывы о компании</h5>

        <div class="row row-cols-1 row-cols-md-4 g-3">
          {% if feedbacks_company %}
          {% for i in feedbacks_company %}
          <!-- Отзыв 1 -->
          <div class="col">
            <div class="card h-100 p-3 shadow-sm">
              <h6 class="fw-bold mb-1">{{ i.vacancy.title|truncatechars:15 }}</h6>
              <div class="text-warning mb-2">
                {{ stars_rating|safe }}
              </div>
              <p class="small text-muted mb-0">
                {{ i.comment|truncatechars:50 }}
              </p>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>

        <!-- Кнопки -->
        <div class="d-flex justify-content-start gap-2 mt-3">
          <button class="btn btn-primary">
            <i class="bi bi-pencil-square"></i> Поставить отзыв
          </button>
          <button class="btn btn-outline-primary">
            <i class="bi bi-chat-dots"></i> Все отзывы
          </button>
        </div>
      </div>

      <div class="related-vacancies mt-5" id="reviews-block">
        <h5 class="fw-bold mb-3">Подходящие вакансии в этой компании</h5>
        <div class="row g-4">
          
          {% for vacancy in vacancies_company %}
          <!-- Вакансия 1 -->
          <div class="col-12">
            <div class="card p-3">
              <!-- Иконки -->
              <div class="d-flex mb-1">
                <i class="bi bi-star me-2" title="Избранное"></i>
                <i class="bi bi-eye-slash" style="cursor: pointer;" title="Скрыть вакансию"></i>
              </div>

              <!-- Название + логотип -->
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="mb-0">{{ vacancy.title }}</h5>
                <img src="{{ logo }}"
                     alt="Логотип компании"
                     class="company-logo">
              </div>

              <!-- Зарплата -->
              {% if vacancy.salary %}
                <p class="mb-1">{{ vacancy.salary }} ₽ {{ vacancy.get_salary_type_display }}</p>
              {% elif vacancy.salary_from and not vacancy.salary_to %}
                <p class="mb-1">от {{ vacancy.salary_from }} ₽ {{ vacancy.get_salary_type_display }}</p>
              {% elif vacancy.salary_from and vacancy.salary_to %}
                <p class="mb-1">от {{ vacancy.salary_from }} ₽ до {{ vacancy.salary_to }} ₽ {{ vacancy.get_salary_type_display }}</p>
              {% else %}
                <p class="mb-1">Договорная</p>
              {% endif %}
              <!-- Компания -->
              <p class="mb-1">{{ vacancy.company.name }}</p>
              <!-- Рейтинг -->
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-star-fill text-warning me-1"></i> {{ rating }} • {{ vacancy.company.feedbacks.count}} отзыва
              </div>
              <!-- Город -->
              <p class="mb-2">{{ vacancy.get_city_display }}, {{ vacancy.street }}</p>
              <!-- Кнопка -->
              <form>
                <button type="button" class="btn btn-primary">Откликнуться</button>
              </form>
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- Кнопка еще вакансии -->
        <div class="mt-4">
          <button class="btn btn-outline-primary">
            <i class="bi bi-plus-circle"></i> Еще вакансии
          </button>
        </div>


      </div>


    </div>

    <!-- Правая часть -->
    <div class="col-lg-4">
      <div class="sticky-sidebar">
        <!-- Компания -->
        <div class="vacancy-card d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img src="{{ logo }}"
                 alt="Логотип компании" class="company-logo">
            <div>
              <h6 class="mb-0">{{ vacancy.company.name }}</h6>
              <small class="text-muted">{{ vacancy.company.feedbacks.count }} отзывов</small>
            </div>
          </div>
          <!-- Звезды рейтинга -->
          <div class="star-rating">
            {{ stars_rating|safe }}
          </div>
        </div>
        
        {% if similar_vacancies %}
        <!-- Рекомендованные вакансии -->
        <h6 class="fw-bold mt-3 mb-2">Вам могут подойти эти вакансии</h6>
        {% for i in similar_vacancies %}
        <div class="recommended-card">
          <p class="fw-bold mb-1">{{ i.title }}</p>
          {% if vacancy.salary %}
            <p class="text-muted mb-0">{{ vacancy.salary }} ₽</p>
            {% elif vacancy.salary_from and not vacancy.salary_to %}
            <p class="text-muted mb-0">от {{ vacancy.salary_from }} ₽</p>
            {% elif vacancy.salary_from and vacancy.salary_to %}
            <p class="text-muted mb-0">от {{ vacancy.salary_from }} ₽ до {{ vacancy.salary_to }} ₽</p>
          {% else %}
              <p class="text-muted mb-0">Договорная</p>
          {% endif %}
          <small class="text-muted">Компания: {{ i.company.name }}</small>
        </div>
        {% endfor %}
        {% endif %}
        
        <a href="#" class="d-block mt-2">Еще 1000 подходящих вакансий →</a>
      </div>
    </div>

  </div>

</div>



<!-- Нижняя панель действий -->
<div id="vacancy-footer" class="vacancy-footer d-none">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Левая часть -->
    <div class="d-flex align-items-center gap-3">
      <button class="btn btn-primary">
        <i class="bi bi-send-fill"></i> Откликнуться
      </button>
      <button class="btn btn-outline-primary rounded-circle">
        <i class="bi bi-heart"></i>
      </button>
    </div>

    <!-- Правая часть -->
    <div class="d-flex align-items-center gap-2">
      <button class="btn btn-outline-dark rounded-circle" title="Скрыть вакансию">
        <i class="bi bi-eye-slash"></i>
      </button>
      <button id="hide-company-vacancies" class="btn btn-outline-dark rounded-circle" title="Скрыть все вакансии компании">
        <i class="bi bi-building icon-strikethrough"></i>
      </button>
      <button class="btn btn-outline-danger rounded-circle" title="Пожаловаться">
        <i class="bi bi-flag"></i>
      </button>

    </div>
  </div>
</div>

<script src="{% static 'detail_vacancy/js/detail_vacancy.js' %}"></script>

{% endblock %}
